@use 'variables';

.contact{
  color: black;
  margin:auto;
  margin-top: 120px;
  padding:1rem;
  font-size: 120%;
  min-width:200px;
  h1,h3{
    font-family: "PT Sans", sans-serif;
    text-align: center;
  }
  h1{
    font-size: 200%;
    color: variables.$dark-green;
  }
  h3{
    color: variables.$darkest-green;
  }

}
.feedback{
  width:50%;
  margin:auto;
  padding-bottom: 1rem;
  line-height: 2rem;
  //text-align: justify;
  letter-spacing: normal;
}

.findUs{
  h3{
    margin-top: -10px;
  }
}
.flexbox{
  width: 70%;
  margin:auto;
  display: flex;
  justify-content: center;
  .maptext{
    width: 30%;
    text-align: justify;
    padding-right: 1rem;
  }
  iframe{
    width: 40%;
    max-width: 500px;
    min-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .contact{
    margin-top: 15%;
    width: 90%;
    font-size: 100%;
    .feedback{
      width: 80%;
    }
    .findUs{
      width: 100%;
      justify-content: center;
      .flexbox{
        flex-direction: column;
        width: 80%;
        .maptext{
          width: 100%;
          margin: 0;
        }
        iframe{
          width: 90%;
          margin:auto;
        }
      }
    }
  }
}


@media screen and (min-width: 701px) and (max-width: 900px){
  .contact {
    width: 100%;
    text-align: justify;
    .feedback {
      width: 70%;
    }
    .findUs{
      .flexbox {
        flex-direction: column;
        width: 70%;

        .maptext {
          width: 100%;
          margin: 0;
        }

        iframe {
          width: 90%;
          margin:auto;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
  .findUs{
    .flexbox {
      flex-direction: column;
      width: 50%;

      .maptext {
        width: 100%;
        margin: 0;
      }

      iframe {
        width: 90%;
        margin:auto;
      }
    }
  }
}