@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.RecipePage{
  margin-top: 120px;
}

.title{
  width: 100%;
  text-align: center;
  font-size: 250%;

  color: variables.$dark-green;
  margin:auto;
  padding: 2%;
}

h1{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

form{
  width:100%;
  margin:2% auto;
  padding:2%;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  //border:1px solid black;
  input{
    z-index: -1;
    opacity: 90%;
    border:.5px solid variables.$dark-green;
    border-radius:5px;
    font-size: 100%;
    padding: .5rem;
    &:focus{
      border-radius: 15px;
      box-shadow:0 0 5px 2.5px variables.$dark-green;
      outline:none;
      transition: .3s ease-in-out;
    }
  }
  select{
    width:60%;
    font-size: 100%;
    padding: .3rem;
    border:none;
    border-radius:5px;
    background-color: #dbefc0;
    color: variables.$darkest-green;
    &:focus{
      border-radius: 15px;
      box-shadow:0 0 5px 2.5px variables.$dark-green;
      outline:none;
      transition: .3s ease-in-out;
    }
  }
  .filter-text-1{
    margin: 10px;
    font-style: italic;
  }
  .filer-text{
    font-size: small;
    margin:1%;
  }

  .buttons{
    width:20%;
    margin: 20px auto;
    display:flex;
    flex-direction:column;
  }

  .search-btn, .reset-btn{
    margin-bottom:10px;
    padding: .5rem;
    border-radius:10px;
    border: none;
    background-color: variables.$bright-green;
  }
  .reset-btn{
    background-color: variables.$orange-reset;
    margin-bottom: -20px;
  }
}

.recipes{
  margin: auto;
  display:flex;
  flex-wrap:wrap;
  padding:2%;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.recipe-cont{
  text-align: center;
  //border:1px solid $medium-green;
  border-radius: 5px;
  margin:20px auto;
  box-shadow: 1px 1px 5px 2px silver;
  a{
    text-decoration: none;
    padding: 5px;
    color: variables.$darkest-green;
    &:hover{
      color: variables.$dark-green !important;
    }
    .recipeImg{
      //aspect-ratio: 2/3;
      //border-radius: 10px;
      border-radius: 5px;
      object-fit: cover;
      width:90%;
      min-width: 250px;
      max-width: 300px;
      //height:70%;
      margin:10px auto;
      margin-bottom:0;
      border:.2px solid variables.$medium-green;
      &:hover{
        border-radius: 15px;
        box-shadow: 0 0 5px 2px variables.$medium-green;
        transition: all .3s ease;
        overflow: hidden;
      }
    }
    h1{
      //text-align: left;
      font-size:120%;
      padding-left:1rem;
      //padding-right:1rem;
    }
    span{
      text-align: left;
      font-size: medium;
      font-weight: bold ;
      margin:auto;
      &:hover{
        text-decoration: underline;
      }
    }
  }

}

.skeleton{
  border-radius: 5px;
  object-fit: cover;
  width:90%;
  aspect-ratio: 1/1;
  background-color: silver;
  animation: shimmer 1.2s infinite linear;
  background-image: linear-gradient(
    90deg, rgba(222, 222, 222, 0.85) 0px, rgba(255, 255, 255, 0.65) 200px, rgba(222, 222, 222, 0.85) 400px
  );
  background-size: 1200px;
  min-width: 250px;
  max-width: 300px;
  margin:10px auto;
  margin-bottom:0;

}
@keyframes shimmer{
  0%{
    background-position: -400px;
  }
  50%{
    background-position: 700px;
  }
  100%{
    background-position: 700px;
  }

}

.page-btns{
  text-align: center;
  margin:10px auto;
  #zero, #prev,#next{
    padding: .8rem;
    margin: .5rem;
    font-size: 150%;
    border:none;
    border-radius: 5px;
    background-color: variables.$light-green;
    &:hover, &:active{
      border-radius: 15px;
      box-shadow: 0 0 5px 2px variables.$medium-green;
    }
  }
}

footer{
  text-align: center;
  margin:0 auto 20px auto;
}

@media screen and (min-width: 550px){
  form{
    width:70%;
    margin:auto;
    select{
      width: 40%;
    }
  }
  .buttons{
    width:20%;
    max-width:100px;
  }
  .recipes{
    //border:1px solid black;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .recipe-cont{
    width:300px;
    margin:20px auto;
    h1{
      font-size:medium;
      padding-left:8px;
      padding-right:8px;

    }
    .recipeImg{
      //aspect-ratio: 4/1;
      margin:10px auto;
      //width: 30%;
      min-width: 250px;
      max-width: 350px;
    }
    .recipe-info{
      margin-bottom: 20px;
    }
  }


//include in media query the limit for the title length...or simply fix the tile size!!!!
}
@media screen and (min-width: 1200px){
  .recipes{
    //margin:auto 0;
  }
  .recipe-cont{
    width:25%;
    margin: 10px;
    }
  .recipeImg{
    //aspect-ratio: 4/1;
    margin:10px auto;
    //width: 30%;
    min-width: 250px;
    max-width: 300px;
  }
}