@use 'variables';

.footer{
  text-align: center;
  display: block;
  padding: .5rem;
  clear: both;
}

@media screen and (max-width: 550px){
  .footer{
    //border: 1px solid red;
    //display: block;
    margin-top: 50px;
  }
}