@use 'variables';

.navbar{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 80%;
    ul{
        list-style: none;
        border-top:3px double variables.$dark-green;
        border-bottom:3px double variables.$dark-green;
        display: flex;
        flex-direction: row;
        width:60%;
        margin:10px auto;
        justify-content: space-between;
        font-size: 1.25rem;
        font-family:'Open Sans', sans-serif;
        align-items: center;
        padding: 0 2rem;
    }

    a{
        text-decoration: none;
        color: variables.$dark-green;
    }

}
#navbar-img{
    //position: absolute;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index:-1;
    #deco-left{
        margin-left: -50px;
    }
    #deco-right{

    }
}

@media screen and (max-width: 750px){
    .navbar{
        width: 90%;
        ul{
            width: 100%;
            margin-top:0;
            border-top: none;
        }
    }
    #navbar-img{
        display: none;
    }
}

@media screen and (max-width: 350px){
    .navbar{
        img{
            width: 50%;
        }
        width: 90%;
        ul{
            width: 100%;
            margin-top:0;
            border-top: none;
        }
    }
    #navbar-img{
        display: none;
    }
}
