@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

.navbar{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    //margin-bottom: 80%;
    .navMenu ul{
        list-style: none;
        border-top:3px double variables.$dark-green;
        border-bottom:3px double variables.$dark-green;
        display: flex;
        flex-direction: row;
        width:60%;
        margin:10px auto;
        justify-content: space-between;
        font-size: 1.25rem;
        font-family:'Open Sans', sans-serif;
        align-items: center;
        padding: 0 2rem;
    }

    a{
        text-decoration: none;
        color: variables.$dark-green;
    }
    .hamburger{
        border: 0;
        font-size: 30px;
        height: 50px;
        width: 50px;
        padding: 0.5rem;
        color: variables.$medium-green;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        // positions the icon to the right and center aligns it vertically
        position: absolute;
        top: 20px;
        right: 20px;
        //transform: translateY(-50%);
        display: none;
    }
    .hamburger:hover {
        border-radius: 20%;
        background-color: variables.$medium-green;
        color: variables.$light-green;
    }
    .mobileLogo{
        transform:scale(1.1);
        display: none;
        position: absolute;
        left: 0;
    }

}
#navbar-img{
    //position: absolute;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index:-1;
    #deco-left{
        margin-left: -50px;
        margin-top: -50px;
        transform: scale(1.2);
    }
    #deco-right{
        margin-right:20px;
        //margin-top:-2px;
        //transform:rotate(-10deg);
    }
}

@media screen and (max-width: 550px){
    .navbar {
        width: 100%;
        height: 10%;
        background-color: variables.$bright-green;
        .mobileLogo{
            display: block;
            text-align: left;
        }
        .hamburger {
            display: block;
        }
        .navMenu ul{
            border-top: none;
            display: none;
        }
        .navMenu ul {
            // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
            position: absolute;
            top: 70px;
            left: 0;
            flex-direction: column;
            width: 100%;
            //height: calc(100vh - 60px);
            //height: 39vh;
            background: linear-gradient(0deg, white, variables.$bright-green) ;
            z-index: 1;
            padding: 0;
        }
        li {
            // centers link text and strips off margin
            text-align: center;
            margin: 0;
            color: black;
            // increases the surface area of the anchor tag to span the full width of the menu
            width: 100%;
            padding: 1.5rem 0;
        }
        li:hover {
            background-color: #CBE8A777 ;
        }
        #nav-logo{
            display: none;
        }
        .navMenu.expanded ul{
            display: block;
        }
        .link{
            //background-color: red;
            padding: 1.5rem 100px;
            margin: 0;
        }
    }
    #navbar-img{
        display: none;
    }

}

@media screen and (min-width: 551px) and (max-width: 700px){
    .navbar{
        width: 100%;
        margin-bottom: 0;
        .navMenu ul{
            width: 90%;
            margin-top:0;
            border-top: none;
            position: absolute;
            //top: 0;
        }
    }
    #navbar-img{
        z-index:-1;
        transform:scale(.8);
        position: relative;
        #deco-left{
            //margin-top: 17.5%;
            margin-left: -10rem;
            margin-top: 7rem;
        }
        #deco-right{
            margin-top: 4.5rem;
            margin-right: -5rem;
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 900px){
    .navMenu ul{
        width: 90%;
        li {
            font-size: 90%;
        }
    }
    #navbar-img{
        z-index:-1;
        transform:scale(.8);
        //position: relative;
        #deco-left{
            //margin-top: 17.5%;
            margin-left: -21%;
        }
        #deco-right{
            margin-top: -3rem;
            margin-right: -12.5%;
        }
    }
}

@media screen and (min-width: 1500px){
    .navbar{
        .navMenu ul {
            width: 70%;
            li{
                font-size: 150%;
            }
        }
    }
    #navbar-img{
        transform:scale(1.1);
        z-index:-1;
        #deco-left{
            margin-left: 1rem;
        }
        #deco-right{
            margin-top: 0;
            margin-right: 7rem;
        }
    }
}
