$pale-yellow: #f8e791;
$light-teal:#8AA899;
$light-green:#ddecc5;
$bright-green: rgb(203, 232, 167);
$medium-green: rgba(61, 142, 48, 0.76);
$dark-green:#1e5b15;
$darkest-green: #0e3709;
$orange-reset:#fab387;
