@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$pale-yellow: #f8e791;
$light-teal:#8AA899;
$light-green:#ddecc5;
$bright-green: #cbe8a7;
$medium-green: #3d8e30;
$dark-green:#1e5b15;
$darkest-green: #0e3709;
$orange-reset:#fab387;

body{
  //background: repeating-radial-gradient(circle, transparent, transparent 11.2px, #f6ffd2 11.2px, #f6ffd2 14.4px), repeating-radial-gradient(circle, transparent, transparent 11.2px, #f6ffd2 11.2px, #f6ffd2 14.4px), #ffffff;
  //background-size: 64px 64px;
  //background-position: 0 0, 32px 32px, 64px 32px;
  //background-color: #ffffff;
}

.title{
  width: 100%;
  font-size: 250%;
  color: #1e5b15;
  background-color: $light-green;
  margin:auto;
  padding: 2%;
}

h1{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
//TODO: fix dropdown menu position

form{
  width:100%;
  margin:2% auto;
  padding:2%;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  //border:1px solid black;
  input{
    opacity: 90%;
    border:.5px solid $dark-green;
    padding:.3rem;
    border-radius:5px;
    font-size: 110%;
    padding: .5rem;
    &:focus{
      border-radius: 15px;
      box-shadow:0px 0px 5px 2.5px $dark-green;
      outline:none;
      transition: .3s ease-in-out;
    }
  }
  select{
    width:40%;
    font-size: 100%;
    padding: .3rem;
    border:none;
    border-radius:5px;
    background-color: #dbefc0;
    color:$darkest-green;
    &:focus{
      border-radius: 15px;
      box-shadow:0px 0px 5px 2.5px $dark-green;
      outline:none;
      transition: .3s ease-in-out;
    }
  }
  .filter-text-1{
    margin: 10px;
    font-style: italic;
  }
  .filer-text{
    font-size: small;
    margin:1%;
  }

  .buttons{
    width:20%;
    margin: 20px auto;
    display:flex;
    flex-direction:column;
  }

  .search-btn, .reset-btn{
    margin-bottom:10px;
    padding: .5rem;
    border-radius:10px;
    border: none;
    background-color: $bright-green;
  }
  .reset-btn{
    background-color: $orange-reset;
    margin-bottom: -20px;
  }
}

.recipes{
  //border:1px solid black;
  margin: auto;
  display:flex;
  flex-wrap:wrap;
  padding:2%;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  border:2px dashed blue;
}

.recipe-cont{
  text-align: center;
  //border:1px solid $medium-green;
  border-radius: 10px;
  margin:20px auto;
  border:2px dashed red;
  a{
    text-decoration: none;
    padding: 5px;
    img{
      //aspect-ratio: 2/3;
      //border-radius: 10px;
      border-radius: 5px;
      object-fit: cover;
      width:90%;
      //height:70%;
      margin:10px auto;
      margin-bottom:0;
      border:.2px solid $medium-green;
      &:hover{
        border-radius: 15px;
        box-shadow: 0 0 5px 2px $medium-green;
      }
    }
    h1{
      text-align: left;
      font-size:130%;
      padding-left:1rem;
      //padding-right:1rem;
    }
    span{
      text-align: left;
      font-size: medium;
      font-weight: bold ;
      margin:auto;
      &:hover{
        text-decoration: underline;
      }
    }
    &:hover{
      color:red !important;
    }
  }

}

.recipe-cont:hover{
  //transform: scale(1.1);
  //box-shadow:0px 0px 10px 2px $medium-green;
}


.page-btns{
  text-align: center;
  margin:10px auto;
  #zero, #prev,#next{
    padding: .8rem;
    margin: .5rem;
    font-size: 150%;
    border:none;
    border-radius: 5px;
    background-color: $light-green;
    &:hover, &:active{
      border-radius: 15px;
      box-shadow: 0 0 5px 2px $medium-green;
    }
  }
}

footer{
  text-align: center;
  margin:0 auto 20px auto;
}

@media screen and (min-width: 450px){
  form{
    width:70%;
    margin:auto;
  }
  .buttons{
    width:20%;
    max-width:100px;
  }
  .recipes{
    //border:1px solid black;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .recipe-cont{
    width:300px;
    margin:20px auto;
    h1{
      font-size:medium;
      padding-left:8px;
      padding-right:8px;

    }
    img{
      //aspect-ratio: 4/1;
      margin:10px auto;
    }
    .recipe-info{
      margin-bottom: 20px;
    }
  }


//include in media query the limit for the title length...or simply fix the tile size!!!!
}
@media screen and (min-width: 1200px){
  .recipes{
    //margin:auto 0;
  }
  .recipe-cont{
    width:25%;
    margin: 10px;
    }
}