@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

form{
  width:80%;
  margin:2% auto;
  text-align:center;
}

.recipes{
  border:1px solid black;
  width:70%;
  display:flex;
  flex-wrap:wrap;
  padding:2%;
  justify-content: center;

}

.recipes h1{
  text-wrap: normal;
}